$background: #F0F8FF;
$dark: #000000;
$light: #FFFFFF;

$error-red: #AA0000;

$silver: #DDDDDD;
$grey73: #BBBBBB;

$primary-color: rgb(0, 0, 255);

$action-success: rgb(0, 207, 35);
$action-danger: rgb(207, 0, 0);

$font-color: #FFFFFF;